* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none;}
body{
	width: 1280px;
	margin:auto;
}
header {
	width: 1280px;
    height: 115px;
	background: #fff; 
}


header .logo{
	float:left;
    margin-left:15px;
    margin-top:33px;}
header .logo img{
	width: 158px;
    height: 66px;}
    
header .container{

	float: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

header .container .cart{
	width: 327px;
    height: 20px;
    margin-top:16px;
    padding-right: 3px;
    display: flex;
    justify-content: space-around;
    background: #fff;}
header .container .cart li{
	font-size: 16px;;
	font-weight: bold;
	color: #9b9b9b;
}
header .container .cart li img{
  position: relative;
  top:1px;
}
header .container .cart li a{
	display: inline-block;
	color: #9b9b9b;
}
header .container .cart li a:hover{
	color:red
}
header .container .container2{
	padding-right: 15px;
	width:800px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

header .container .container2 .nav{
	font-size: 15px;;
	width: 600px;
	height: 30px;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	font-weight: bold;
	position: relative;
}

header .container .container2 .nav li a{
	color: #000000;
	
}
header .container .container2 .nav li a:hover{
	color:#d6000f;
}
header .container .container2 .nav li span{
	color: #9a9db6;
}
header .container .nav .bottom img{
	position: relative;
	top:-3px;
} 
#nav1,#nav2,#nav3,#nav4{
	width: 1280px;
	height: 117px;
	display:none;
	background: #000;
	position: absolute;
	top:30px;
	left:-480px;
    align-items: center;
	padding-left: 15px;	
	font-weight: bold;
}
#nav2,#nav3{
	height: 300px;
}

#nav1 li,#nav2 li,#nav3 li{
	width: 23%;
	align-self: flex-start;
	margin-top:51px;
}
#nav4 li{
	width: 33.3%;
}
#nav1 li a,#nav2 li a,#nav3 li a,#nav4 li a{
	color:#fff;
}

header .container .container2 .nav li:nth-child(1):hover #nav1{
	display: flex;
	z-index: 2;
}
header .container .container2 .nav li:nth-child(3):hover #nav2{
	display: flex;
	z-index: 2;
}
header .container .container2 .nav li:nth-child(4):hover #nav3{
	display: flex;
	z-index: 2;

}
header .container .container2 .nav li:nth-child(6):hover #nav4{
	display: flex;
	z-index: 2;
}
#navinput{
	position:relative;
	padding-left: 10px;
	border:solid 1px #e7e7e7;
	outline: none;
	width:180px ;
	height: 30px;
	top:-10px;
    background: url(../img/index/ym/nav2.jpg) no-repeat 156px 6px;
}
#cut{
	width: 1280px;
	height: 15px;
	background: #000;
}


footer {
	padding-left: 13px;
	width:1280px;
	min-height: 300px;
	background: #1c1c1c;
}

footer .top{
	width: 1280px;
	height: 335px;
	background:1c1c1c;
	padding-top:27px;
	display: flex;
}
footer .top .left{
	height: 270px;
	width: 414px;
	border-right: 2px solid #919191;
}
footer .top .middle{
	height: 270px;
	width: 490px;
	border-right: 2px solid #919191;
}
footer .top .right{
	height: 270px;
	width: 345px;
	padding-left: 13px;

}
footer .top .left .title{
	height: 55px;
	width:414px;
	font-size: 16px;
	padding-top: 5px;
	font-weight: bold;
	color: #fff;
}
footer .top .left .table  {
	display: flex;
}
footer .top .left .table .leftul {
	width: 170px;
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size:13px;
	color:#fff;
}
footer .top .left .table .leftul li:nth-child(1){
	font-weight: bold;
}
footer .top .left .table .leftul li a{
	color:#589bb6;
}
footer .top .left .table .rightul {
	width: 170px;
	height: 118px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size:13px;
	color:#fff;
}
footer .top .left .table .rightul li:nth-child(1){
	font-weight: bold;
}
footer .top .left .table .rightul li a{
	color:#589bb6;
}

footer .top .middle{
	padding-left: 37px
}
footer .top .middle  .title{
	height: 55px;
	width:414px;
	font-size: 16px;
	padding-top: 5px;
	font-weight: bold;
	color: #fff;
}
footer .top .middle .table2 .topul{
	height:48px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 14px;

}
footer .top .middle .table2 .topul li:nth-child(1){
	font-weight: bold;
	font-size: 13px;
	color:#fff;
}
footer .top .middle .table2 .topul li a{

	color:#508fc6
}
footer .top .middle .table2 .topul li:hover a{
	color:red;
}

footer .top .middle .table2 .bottomul{
	height:48px;
	margin-top:32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size:13px;
	
}
footer .top .middle .table2 .bottomul li:nth-child(1){
	color:#fff;
	font-weight: bold;
}

footer .top .middle .table2 .bottomul li:nth-child(2){
	font-size: 13px;
	color:#919191;}

footer .top  .right .title{
	height: 55px;
	width:414px;
	font-size: 16px;
	padding-top: 5px;
	font-weight: bold;
	color: #fff;
	padding-left: 57px;
}

footer .top  .right ul{
	margin-left:15px;
	width:220px;
	height:36px;
	display: flex;
	justify-content: space-between;
}
footer .top  .right ul li{
	width:36px;
	height: 36px;
}
footer .top  .right ul li a{
	display: inline-block;
	width: 36px;
	height: 36px;
}
footer .top  .right ul li:nth-child(1) a{
	background:url(../img/index/ym/0001.jpg) no-repeat left center;
}
footer .top  .right ul li:nth-child(2) a{
	background:url(../img/index/ym/0001.jpg) no-repeat -46px center;
}
footer .top  .right ul li:nth-child(3) a{
	background:url(../img/index/ym/0001.jpg) no-repeat  -92px  center;
}
footer .top  .right ul li:nth-child(4) a{
	background:url(../img/index/ym/0001.jpg) no-repeat -138px center;
}
footer .top  .right ul li:nth-child(5) a{
	background:url(../img/index/ym/0001.jpg) no-repeat -184px center;
}


main{
	width: 1280px;
	min-height: 1000px;
}

#box1{
  width: 1280px;
  height: 533px;
  overflow: hidden;
  position: relative;
  margin-bottom:27px;
}
#box1 ul{
	width: 10000px;
	transition: all 2s;
	
}
#box1 li{
	width: 1280px;
	height: 533px;
	float: left;
}
#box1 li img{
	width: 1280px;
	height: 533px;
}
#box1 p{
	position: absolute;
	left:625px;
	top:500px;
	width: 30px;
	height: 10px;
	display: flex;
	justify-content: space-between;
}
#box1 p span{
	width: 10px;
	height: 10px;
	background: #d2d2d2;
	border-radius: 50%;
}

#box1 p span:hover {
	background: #d6000f;
}

main .swiper-container  {
    width: 1280px;
    height: 692px;
}  
#lbbox .swiper-slide{
	overflow: hidden;
}

#lbbox .swiper-slide img{
	width: 384px;
	height: 384px;
	margin-left:26px;
	transition: all 2s;
}
#lbbox .swiper-slide img:hover{
	transform: scale(1.05,1.05)
	
}
#lbbox .swiper-slide p:nth-child(2){
	font-size: 20px;
	font-weight: 600;
	margin-top:28px;
	width:400px;
	padding-left:35px;
	text-align: center;
	
}
#lbbox .swiper-slide p:nth-child(3){
	width: 180px;
	height: 48px;
	background: #2b2b2b;
	padding:16px 0 16px 0;
	margin:78px 0 0 115px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	transition: all 1s;
}
#lbbox .swiper-slide p:nth-child(3):hover{
	background: #000;
}

#typebox {
	width: 1280px;
	height: 240px;
	display: flex;
	background:#fff;
	justify-content: space-between;
	margin-bottom:22px;

}
#typebox div{
	width: 405px;
	height: 240px;
	overflow: hidden;
	position: relative;
	
}
#typebox div img{
	width: 405px;
	height: 240px;
	transition: all 1.5s;
	
}
#typebox div img:hover{
	transform: scale(1.1,1.1);
}
#typebox div p:nth-child(2){
	position: absolute;
	width: 405px;
	text-align: center;
	font-size:28px;
	color:#fff;
	font-weight: bold;
	top:110px;
}
#typebox div p:nth-child(3){
	width: 405px;
	text-align: center;
	font-size:18px;
	color:#fff;
	font-weight: bold;
	position: absolute;
	top:160px;
}

#activity{
	width: 1280px;
	height: 1275px;
	background: #f1f2ed;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top:130px;
	position: relative;
}
#activity div{
	width: 620px;
	height: 555px;

}
#activity div img{
	height: 400px;
	width: 620px;
}
#activity p:nth-child(1){
	width: 1280px;
	font-size: 32px;
	color:#000;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top:50px;
}
#activity div p{
	text-align: center;
	width: 620px;
	transition: all 0.8s;
}
#activity div p:nth-child(2){
	font-size: 16px;
	font-weight: bold;
	margin-top:25px;

}
#activity  div p:nth-child(3){
	font-size:13px;
	margin-top:25px;
}
#activity  div:hover {
	background: #000000;
	
}
#activity  div:hover p{
	color: #fff;
}
